footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #717171;
    color: white;
    text-align: center;
}

.spacer {
    height: 50px;
}

.myContainer {
    margin: 0 auto;
    padding-top: 5%;
}
